<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778077957227-54l7hkjiq98t3pj44p4vs7fdnfearqlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778077957227-54l7hkjiq98t3pj44p4vs7fdnfearqlo</string>
	<key>API_KEY</key>
	<string>AIzaSyDr9vpRnBHiLiCSn19BOCW5wDtGNCFkuG4</string>
	<key>GCM_SENDER_ID</key>
	<string>778077957227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.KofiNsiah.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-a8f68</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-a8f68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778077957227:ios:05547671d17c3ec671952e</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-a8f68.firebaseio.com</string>
</dict>
</plist>